[submodule "ApartmentSearchBackend"]
	path = ApartmentSearchBackend
	url = https://github.com/DavidArabuli/ApartmentSearchBackend.git
[submodule "ApartmentSearchFrontend"]
	path = ApartmentSearchFrontend
	url = https://github.com/DavidArabuli/ApartmentSearchFrontend.git
