[submodule "ApartmentSearchBackend"]
	path = ApartmentSearchBackend
	url = C:/projects/ApartmentSearch/ApartmentSearchBackend
[submodule "ApartmentSearchFrontend"]
	path = ApartmentSearchFrontend
	url = C:/projects/ApartmentSearch/ApartmentSearchFrontend
